.products {
    .filter-text {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        border: 1px solid var(--text-color);
        border-radius: 5px;
        color: var(--text-color);
        cursor: pointer;
    }

    .filter-items {
        display: flex;
        justify-content: center;
        gap: 16px;
        overflow-x: auto;
    
        .filter-items::-webkit-scrollbar {
            display: none;
        }
    
        .filter-item {
            padding: 16px 20px;
            background-color: var(--main-bg);
            color: var(--text-color);
            cursor: pointer;
            border-radius: 5px;
        }
    }

    @media (max-width: $tablet) {
        .select-filter {
            margin: 16px 0;
        }

        .action-filter {
            padding: 8px;
        }
    }

    
}