.header {
    // width: 100%;
    // position: fixed;
    // top: 0;
    padding: 16px 0;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 9;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-logo {
        @include align-center;
        cursor: pointer;

        .logo-title {
            @include section-title;
        }
    }

    .header-nav {
        flex: 1;
        margin-left: 40px;
    }

    .mobile-menu {
        display: none;
    }

    @media (max-width: $desktop) {
        .header-nav {
            display: none;
        }

        .mobile-menu {
            display: block;
            .menu-icons {
                display: flex;
                gap: 16px;
            }

            .menu-icon {
                cursor: pointer;
            }
        }
    }
}
